.service-hour {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    height: 12rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width:180px;
}

input[type=file] {
    padding:10px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-image: url("/static/logo_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 250px;
}

.logo1, .logo2{
    font-weight:bolder;
    color: #fff;
    text-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    text-align: center;
    justify-self: center;
    box-sizing: border-box;
}

.logo1{
    font-size: 50px;
    padding: 10px;
    font-family: 'Lora', sans-serif;
    text-align: left;
}

.logo2{
    font-size: 30px;
    width: 100%;
    font-family: 'Grey Qo', sans-serif;
    text-align: right;
    padding: 5px;
}

.mountain-icon{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url("/static/mountain.png");
    align-self: center;
    justify-self: center;
}

.home-icon{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    align-items: flex-start;
    justify-content: center;
}

.menu{
    display: flex;
    position: relative;
    right: 0px;
    color: #fff;
    text-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    font-weight: 700;
    font-size: 25px;
}

.menu div{
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 10px;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.popup-menu-title:hover, .browse-title:hover, .login-signup-popup-menu:hover{
    cursor: pointer;
    text-decoration: underline;
}

.popup-menu, .login-signup-menu {
    display: none; 
    position: absolute; 
    top: 60%; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 2; 
    color: black;
    text-shadow: none;
    font-size: 20px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    width: auto;
}

.home-icon:hover{
    cursor: pointer;
}

.popup-menu {
    display: none; 
    position: absolute; 
    left: 15px;
    top: 60%; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 2; 
    color: black;
    text-shadow: none;
    font-size: 20px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    width: auto;
}

.popup-menu{
    left: 110px;
}

.login-signup-menu{
    left: 310px;
}

.popup-menu div:hover, .login-signup-menu div:hover{
    cursor: pointer;
    background-color: #c6c6c6;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; 
    height: 35px;
    border-radius: 10px;
}

.search-area:focus-within {
    border: 1px solid #6f6f6f60;
    background-color: #dddddd58;
    box-sizing: border-box;
}


input{
    all: unset;
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: none;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.lence-icon{
    background-size: cover;
    background-image: url("/static/lence.png");
    width: 40px;
    height: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-image: url("/static/logo_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100px;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 18px;
    width: 60px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

.search-button:active{
    font-size: 15px;
}

.search-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.message{
    display: block;
}