.dates, .service-hour {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    height: 12rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.month-year-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.this-year, .next-month-year, .next-next-month-year{
    display: none;
}*/

.year{
    margin-right: 10px;
}

.active-date:hover, .active-hour:hover{
    opacity: 0.5;
    cursor: pointer;
}

.inactive-date, .inactive-hour{
    opacity: 0.3;
    cursor: not-allowed;
}

.this{
    display: block;
}

.next-next, .next{
    display: none;
}

.last-month-button, .next-month-button{
    all: unset;
    font-size: 15px;
    background-color: #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.last-month-button {
    position: absolute;
    left :10px;
    top: 50%;
    background-image: url("/static/left arrow.png");
    background-size: cover;
}

.next-month-button{
    position: absolute;
    right :10px;
    top: 50%;
    background-image: url("/static/right arrow.png");
    background-size: cover;
}

.service{
    display: none;
    margin-top: 40px;
}

.image-wrapper {
    float: left;
    height: 400px;
    width: 600px;
    overflow: hidden; 
    border: 1px solid #ccc; 
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
}

.image-container {
    display: flex; 
    height: 400px;
    transition: transform 1.5s ease; 
}

.image {
    height: 400px;
    width: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    display: block;
    box-sizing: border-box; 
}

.selected {
    background-color: #dddddd58; /* 或你希望的颜色 */
}

.header{
    display: flex;
    justify-content: space-between;
    background-image: url("/static/logo_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 250px;
}

.logo1, .logo2{
    font-weight:bolder;
    color: #fff;
    text-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    text-align: center;
    justify-self: center;
    box-sizing: border-box;
}

.logo1{
    font-size: 50px;
    padding: 10px;
    font-family: 'Lora', sans-serif;
    text-align: left;
}

.logo2{
    font-size: 30px;
    width: 100%;
    font-family: 'Grey Qo', sans-serif;
    text-align: right;
    padding: 5px;
}

.mountain-icon{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url("/static/mountain.png");
    align-self: center;
    justify-self: center;
}

.home-icon{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    align-items: flex-start;
    justify-content: center;
}

.menu{
    display: flex;
    position: relative;
    right: 0px;
    color: #fff;
    text-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    font-weight: 700;
    font-size: 25px;
}

.menu div{
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 10px;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.popup-menu-title:hover, .browse-title:hover, .login-signup-popup-menu:hover{
    cursor: pointer;
    text-decoration: underline;
}

.popup-menu, .login-signup-menu {
    display: none; 
    position: absolute; 
    top: 60%; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 2; 
    color: black;
    text-shadow: none;
    font-size: 20px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    width: auto;
}

.home-icon:hover{
    cursor: pointer;
}

.popup-menu {
    display: none; 
    position: absolute; 
    left: 15px;
    top: 60%; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 2; 
    color: black;
    text-shadow: none;
    font-size: 20px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    width: auto;
}

.popup-menu div:hover, .login-signup-menu div:hover{
    cursor: pointer;
    background-color: #c6c6c6;
}

.popup-menu{
    left: 110px;
}

.login-signup-menu{
    left: 310px;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; 
    height: 35px;
    border-radius: 10px;
}

.search-area:focus-within {
    border: 1px solid #6f6f6f60;
    background-color: #dddddd58;
    box-sizing: border-box;
}


input{
    all: unset;
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: none;
}

.lence-icon{
    background-size: cover;
    background-image: url("/static/lence.png");
    width: 40px;
    height: 40px;
}

.main{
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 250px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.content1, .content2, .content3, .content4, .content5{
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    display: grid;
    background-position: center;
}

.content1 div, .content2 div, .content3 div, .content4 div, .content5 div{
    font-family: 'Lora', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
}

.content1:hover, .content2:hover, .content3:hover, .content4:hover, .content5:hover{
    cursor: pointer;
    opacity: 0.8;
}

.content1 div:active, .content2 div:active, .content3 div:active, .content4 div:active, .content5 div:active{
    font-size: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-image: url("/static/logo_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100px;
}

.merchant-setting-form{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    min-height: 400px; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: left; 
    background-color: #fff;
    z-index: 3;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 18px;
    width: 60px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

.search-button:active{
    font-size: 15px;
}

.search-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.merchant-info-container{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    /*text-align: center;*/
}

.merchant-info{
    position: absolute;
    right: 10%;
    top: 290px;
    height: 400px;
    background-color: #dddddd58;
    border-radius: 0px 10px 10px 0px;
    box-shadow: rgba(84, 84, 84, 0.752) 1px 1px 1px;
    font-size: 20px;
    padding: 15px;
    box-sizing: border-box;
    /*text-align: center;*/
}

.booking-area{
    width: 100%;
    margin-top: 40px;
    display: flex;
}

.calender-wrapper{
    width: 50%;
    position: relative;
    border: 1px solid #ddd;
}

.selected-date{
    margin-left: 20px;
    height: 100%;
    width: 50%;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.button-wrapper{
    display: flex;
}

.complete-button{
    display: none;
    background-color: #ddd;
    border-radius: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.complete-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.message{
    display: none;
}

.selected-date-title{
    background-color: #ddd;
    margin-bottom: 10px;
}