<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/booking.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grey+Qo:wght@400;500&display=swap" rel="stylesheet">
  <meta name="google-signin-client_id" content="69733288319-aneoppgio3farrkvp3fkfoslcbppr1vg.apps.googleusercontent.com">
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <link rel="stylesheet" type="text/css" href="/static/signup.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap" rel="stylesheet">
  <title>Unnamed Rental</title>
</head>
<body>
    <div class = "header">
        <div class = "home-icon">
            <div class = "logo1">Unnamed Rental</div>
            <div class = "logo2">Easy Rentals, Easy Life!</div>
        </div>
        <div class = "menu">
            <div class = "browse-title">瀏覽空間</div>
            <div class = "popup-menu-title">成為空間合作者</div>
            <div class = "popup-menu">
                <div class = "about-us">關於我們</div>
                <div>註冊新商家</div>
                <div>商家登入</div>
                <div>商家會員中心</div>
            </div>
            <div class = "login-signup-popup-menu">登入/註冊</div>
            <div class = "login-signup-menu">
                <div>使用者註冊</div>
                <div>使用者登入</div>
            </div>
            <div class = "user-menu">會員中心</div>
            <div class = "log-out">登出</div>
            <div class = "search-container">
                <div class = "search-area">
                    <div class = "lence-icon"></div>
                    <input class = "search-box" type = "text">
                    <div class = "search-button">搜尋</div>
                </div>
            </div>
            <div>
                <img src = "static/setting.png" class = "adjust-setting"/>
            </div>
        </div>
     </div>
     <div class = "search-setting">
        <div class = "search-setting-container">
            <div class = "search-setting-title-container">
                <div class = "search-setting-title">搜尋設定</div>
                <div class = "clear-filter">清除所有篩選</div>
                <img src = "static/x_icon.png" class = "close-search-setting"/>
            </div>
            <div class = "search-setting-menu">
                <div class = "city  filtered">縣市</div>
                <div class = "class">類型</div>
                
                <div class = "price-range">租金</div>
                <div class = "more">更多</div>
            </div>
            <div class = "city-select" data-type = "city">
                <div>基隆市</div>
                <div>台北市</div>
                <div>新北市</div>
                <div>桃園市</div>
                <div>新竹市</div>
                <div>新竹縣</div>
                <div>苗栗縣</div>
                <div>台中市</div>
                <div>彰化縣</div>
                <div>南投縣</div>
                <div>雲林縣</div>
                <div>嘉義縣</div>
                <div>嘉義市</div>
                <div>台南市</div>
                <div>高雄市</div>
                <div>屏東縣</div>
                <div>宜蘭縣</div>
                <div>花蓮縣</div>
                <div>台東縣</div>
                <div>澎湖縣</div>
                <div>金門縣</div>
                <div>連江縣</div>
            </div>
            <div class = "class-select" data-type = "class">
                <div>辦公</div>
                <div>民宿</div>
                <div>藝術</div>
                <div>娛樂</div>
                <div>運動</div>
            </div>
            <div class = "price-range-select" data-type = "price">
                <div>500元以下</div>
                <div>500元~1000元</div>
                <div>1000元~1500元</div>
                <div>1500元以上</div>
            </div>
            <div class = "more-select" data-type = "more">
                <div>螢幕</div>
                <div>冰箱</div>
                <div>飲水機</div>
                <div>電視</div>
                <div>空調</div>
                <div>沙發</div>
                <div>沙桌</div>
                <div>桌子</div>
                <div>椅子</div>
                <div>衣櫃</div>
                <div>衣架</div>
                <div>洗衣機</div>
                <div>WIFI</div>
                <div>淋浴間</div>
                <div>浴缸</div>
                <div>電熱水器</div>
            </div>
            <button class = "confirm-button">確認</button>
        </div>
     </div>
 <div class = "login-signup-form">
    <div class = "signup-area">
        <div class = "title">Sign Up
            <img class = "cancel" src = "/static/x_icon.png">
        </div>
        <div class = "merchant-signup-container">
            <label for = "merchant-user-name">使用者名稱</label>
            <input placeholder = "使用者姓名" id = "merchant-user-name" name = "merchant-user-name">
        </div>
        <div class = "merchant-signup-container">
            <label for = "merchant-user-phone-num">連絡電話</label>
            <input placeholder = "連絡電話" id = "merchant-user-phone-num" name = "merchant-user-phone-num">
        </div>
        <div id="merchant-signup-button"></div>
        <div class = "switch-to-login">已經有帳號了?直接登入</div>
        <div class = "message"></div>
    </div>
    <div class = "login-area">
        <div class = "title">Login
            <img class = "cancel" src = "/static/x_icon.png">
        </div>
        <div class = "login-text">下方按鈕登入</div>
        <div id="merchant-login-button"></div>
        <div class = "switch-to-signup">還沒有帳號嗎?在此註冊</div>
        <div class = "message"></div>
    </div>
</div>

<div class = "login-signup-form-user" style = "display: none">
    <div class = "signup-area-user">
        <div class = "title">Sign Up
            <img class = "cancel" src = "/static/x_icon.png">
        </div>
        <form>
            <div class = "name-user-input">
                <label for = "name-user">使用者名稱</label>
                <input placeholder = "使用者姓名" id = "name-user" name = "name-user">
            </div>
            <div class = "phone-number-user-input">
                <label for = "phone-number-user">連絡電話</label>
                <input placeholder = "連絡電話" id = "phone-number-user" name = "phone-number-user">
            </div>
            <div id="g_id_onload"
            data-client_id="69733288319-aneoppgio3farrkvp3fkfoslcbppr1vg.apps.googleusercontent.com"
            data-callback="onSignIn">
            </div>
            <div id="user-signup-button"></div>
        </form>
        <div class = "switch-to-login-user">已經有帳號了?直接登入</div>
        <div class = "user-signup-message"></div>
    </div>
    <div class = "login-area-user">
        <div class = "title">Login
            <img class = "cancel" src = "/static/x_icon.png">
        </div>
        <div id="user-login-button"></div>
        <div class = "switch-to-signup-user">還沒有帳號嗎?在此註冊</div>
        <div class = "message"></div>
    </div>
</div>
<div class = "main">
    <h3 class = "greeting"></h3>
    <div class = "reservation-container">
     </div>
     <form>
        <div class = "booking-form">
            <label for = "booking-name">預約大名</label>
            <input placeholder = "預約大名" id = "booking-name" name = "booking-name">
            <br>
            <label for = "booking-gmail">聯絡信箱</label>
            <input placeholder = "聯絡信箱" id = "booking-gmail" name = "booking-gmail">
            <br>
            <label for = "booking-phone-number">連絡電話</label>
            <input placeholder = "連絡電話" id = "booking-phone-number" name = "booking-phone-number">
            <br>
            <div class="payment-container">
                <div class="payment-info-title">信用卡付款資訊</div>
                <div class="form-group card-number-group">
                  <label for="card-number" class="control-label">卡片號碼</label>
                  <div class="form-control card-number"></div>
                </div>
                <div class="form-group expiration-date-group">
                  <label for="expiration-date" class="control-label">過期時間</label>
                  <div class="form-control expiration-date" id="tappay-expiration-date"></div>
                </div>
                <div class="form-group ccv-group">
                  <label for="ccv" class="control-label">驗證密碼</label>
                  <div class="form-control ccv"></div>
                </div>
              </div>
            <div class = "booking_submit">送出</div>
        </div>
     </form>
     <h2>預約成功後將發送確認信至您的信箱，請注意查收。</h2>
</div>
 <div class = "footer"></div>
  <script src = "/static/booking.js" defer></script>
  <script src = "/static/signup.js" defer></script>
  <script src = "/static/menu_button.js" defer></script>
  <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
</body>
</html>