<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="69733288319-aneoppgio3farrkvp3fkfoslcbppr1vg.apps.googleusercontent.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grey+Qo:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <link rel="stylesheet" type="text/css" href="/static/merchant_member_page.css" />
  <link rel="stylesheet" type="text/css" href="/static/signup.css" />
  <link rel="stylesheet" type="text/css" href="/static/merchant-setting.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap" rel="stylesheet">
  <title>Merchant setting Page</title>
</head>
<body>
    <div class = "header">
        <div class = "home-icon">
            <div class = "logo1">Unnamed Rental</div>
            <div class = "logo2">Easy Rentals, Easy Life!</div>
        </div>
        <div class = "menu">
            <div class = "browse-title">瀏覽空間</div>
            <div class = "popup-menu-title">成為空間合作者</div>
            <div class = "popup-menu">
                <div class = "about-us">關於我們</div>
                <div>註冊新商家</div>
                <div>商家登入</div>
                <div>商家會員中心</div>
            </div>
            <div class = "login-signup-popup-menu">登入/註冊</div>
            <div class = "login-signup-menu">
                <div>使用者註冊</div>
                <div>使用者登入</div>
            </div>
            <div class = "user-menu">會員中心</div>
            <div class = "log-out">登出</div>
            <div class = "search-container">
                <div class = "search-area">
                    <div class = "lence-icon"></div>
                    <input class = "search-box" type = "text">
                    <div class = "search-button">搜尋</div>
                </div>
            </div>
            <div>
                <img src = "static/setting.png" class = "adjust-setting"/>
            </div>
        </div>
     </div>
     <div class = "search-setting">
        <div class = "search-setting-container">
            <div class = "search-setting-title-container">
                <div class = "search-setting-title">搜尋設定</div>
                <div class = "clear-filter">清除所有篩選</div>
                <img src = "static/x_icon.png" class = "close-search-setting"/>
            </div>
            <div class = "search-setting-menu">
                <div class = "city  filtered">縣市</div>
                <div class = "class">類型</div>
                
                <div class = "price-range">租金</div>
                <div class = "more">更多</div>
            </div>
            <div class = "city-select" data-type = "city">
                <div>基隆市</div>
                <div>台北市</div>
                <div>新北市</div>
                <div>桃園市</div>
                <div>新竹市</div>
                <div>新竹縣</div>
                <div>苗栗縣</div>
                <div>台中市</div>
                <div>彰化縣</div>
                <div>南投縣</div>
                <div>雲林縣</div>
                <div>嘉義縣</div>
                <div>嘉義市</div>
                <div>台南市</div>
                <div>高雄市</div>
                <div>屏東縣</div>
                <div>宜蘭縣</div>
                <div>花蓮縣</div>
                <div>台東縣</div>
                <div>澎湖縣</div>
                <div>金門縣</div>
                <div>連江縣</div>
            </div>
            <div class = "class-select" data-type = "class">
                <div>辦公</div>
                <div>民宿</div>
                <div>藝術</div>
                <div>娛樂</div>
                <div>運動</div>
            </div>
            <div class = "price-range-select" data-type = "price">
                <div>500元以下</div>
                <div>500元~1000元</div>
                <div>1000元~1500元</div>
                <div>1500元以上</div>
            </div>
            <div class = "more-select" data-type = "more">
                <div>螢幕</div>
                <div>冰箱</div>
                <div>飲水機</div>
                <div>電視</div>
                <div>空調</div>
                <div>沙發</div>
                <div>沙桌</div>
                <div>桌子</div>
                <div>椅子</div>
                <div>衣櫃</div>
                <div>衣架</div>
                <div>洗衣機</div>
                <div>WIFI</div>
                <div>淋浴間</div>
                <div>浴缸</div>
                <div>電熱水器</div>
            </div>
            <button class = "confirm-button">確認</button>
        </div>
     </div>
     <div class = "login-signup-form">
        <div class = "signup-area">
            <div class = "title">Sign Up
                <img class = "cancel" src = "/static/x_icon.png">
            </div>
            <div class = "merchant-signup-container">
                <label for = "merchant-user-name">使用者名稱</label>
                <input placeholder = "使用者姓名" id = "merchant-user-name" name = "merchant-user-name">
            </div>
            <div class = "merchant-signup-container">
                <label for = "merchant-user-phone-num">連絡電話</label>
                <input placeholder = "連絡電話" id = "merchant-user-phone-num" name = "merchant-user-phone-num">
            </div>
            <div id="merchant-signup-button"></div>
            <div class = "switch-to-login">已經有帳號了?直接登入</div>
            <div class = "message"></div>
        </div>
        <div class = "login-area">
            <div class = "title">Login
                <img class = "cancel" src = "/static/x_icon.png">
            </div>
            <div class = "login-text">下方按鈕登入</div>
            <div id="merchant-login-button"></div>
            <div class = "switch-to-signup">還沒有帳號嗎?在此註冊</div>
            <div class = "message"></div>
        </div>
    </div>
    <div class = "login-signup-form-user" style = "display: none">
        <div class = "signup-area-user">
            <div class = "title">Sign Up
                <img class = "cancel" src = "/static/x_icon.png">
            </div>
            <form>
                <div class = "name-user-input">
                    <label for = "name-user">使用者名稱</label>
                    <input placeholder = "使用者姓名" id = "name-user" name = "name-user">
                </div>
                <div class = "phone-number-user-input">
                    <label for = "phone-number-user">連絡電話</label>
                    <input placeholder = "連絡電話" id = "phone-number-user" name = "phone-number-user">
                </div>
                <div id="g_id_onload"
                data-client_id="69733288319-aneoppgio3farrkvp3fkfoslcbppr1vg.apps.googleusercontent.com"
                data-callback="onSignIn">
                </div>
                <div id="user-signup-button"></div>
                <div class = "user-signup-message"></div>
            </form>
            <div class = "switch-to-login-user">已經有帳號了?直接登入</div>
        </div>
        <div class = "login-area-user">
            <div class = "title">Login
                <img class = "cancel" src = "/static/x_icon.png">
            </div>
            <div id="user-login-button"></div>
            <div class = "switch-to-signup-user">還沒有帳號嗎?在此註冊</div>
            <div class = "message"></div>
        </div>
    </div>
    <div class = "main">
        <div class = "setting-list">
            <!--<div class = "merchant-setting-title">商店資料管理</div>-->
            <div class = "merchant-calender">預約月曆</div>
            <div class = "order-setting-title">訂單查詢</div>
            <div class = "add-merchant-title">新增商家</div>
            <div class = "common-question-title">常見問題</div>
            <div class = "catogory-by-merchant">商家列表</div>
        </div>
        <div class = "merchant-setting-form">
            <form id = "form">
                <div class = "wrapper">
                    <h1>商家會員中心</h1>
                    <form>
                        <div class = "merchant-member-data">
                        </div>
                    </form>
                    <button type = "button" class = "submit">送出</button>
                    <strong class = "sending-message"></strong>
                </div>
            </form>
        </div>
        <div class = "order-setting-form">
            <h1>訂單管理</h1>
            <div class = "search-bar-wrapper">
                <form id = "search-form">
                    <div class = "search-bar">
                        <select id = "search-option">
                            <option value = "">全部</option>
                            <option value = "blur">模糊搜尋</option>
                            <option value = "m.merchant_name">商店名稱</option>
                            <option value = "o.prime">銀行交易號碼</option>
                            <option value = "o.booking_name_user">預約姓名</option>
                            <option value = "o.booking_phone_number_user">預約電話</option>
                            <option value = "o.booking_gmail">預約信箱</option>
                            <option value = "o.total_price">訂單金額</option>
                            <option value = "o.is_paid">交易結果</option>
                            <option value = "o.date">預約日期</option>
                            <option value = "o.service_time_name">預約時段</option>
                            <option value = "o.order_number">訂單編號</option>
                            <option value = "o.comment">備註</option>
                        </select>
                    </div>
                    <button class = "search-orders">搜尋</button>
                </form>
            </div>
            <div class = "wrapper1">
                    <div class = "order-data-column">
                        <div>商店名稱</div>
                        <div>銀行交易號碼</div>
                        <div>預約姓名</div>
                        <div>預約電話</div>
                        <div>預約信箱</div>
                        <div>訂單編號</div>
                        <div>預約日期</div>
                        <div>起始時間</div>
                        <div>結束時間</div>
                        <div>預約時段</div>
                        <div>單筆金額</div>
                        <div>總金額</div>
                        <div>交易結果</div>
                        <div>附註</div>
                    </div>
                    <div class = "order-data-form"></div>
            </div>
        </div>
        <div class = "merchant-calender-form">
            <h1>商家月曆</h1>
            <div class = "calender-area">
                <div class = "calender-wrapper">
                    <div class = "year"></div>
                    <div class = "month-container">
                        <div class = "left-arrow"></div>
                        <div class = "month"></div>
                        <div class = "right-arrow"></div>
                    </div>
                    <div class = "week-day">
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        <div>Sun</div>
                    </div>
                    <div class = "calender-form"></div>
                </div>
                <div class = "merchant-color-list"></div>
            </div>
            <div class = "order-detail-form"></div>
        </div>
        <div class = "add-new-merchant-form">
            <h1>新增商家頁面</h1>
            <form>
                <div>
                    <label for = "new-merchant-name">商家名稱</label>
                    <input placeholder = "一經送出無法修改，敬請留意" id = "new-merchant-name" name = "new-merchant-name">
                </div>
                <div>
                    <label for = "new-user-name">聯絡人姓名</label>
                    <input placeholder = "聯絡人姓名" id = "new-user-name" name = "new-user-name">
                </div>
                <div>
                    <label for = "phone-num">連絡電話</label>
                    <input placeholder = "連絡電話" id = "phone-num" name = "phone-num">
                </div>
                <div>
                    <label for = "bank-code">銀行代碼</label>
                    <input placeholder = "銀行代碼" id = "bank-code" name = "bank-code">
                </div>
                <div>
                    <label for = "account-num">收款帳號</label>
                    <input placeholder = "收款帳號" id = "account-num" name = "account-num">
                </div>
                <div>
                    <label for = "service-type">租借類型</label>
                    <select id = "service-type" name = "service-type">
                        <option value = "辦公">辦公</option>
                        <option value = "民宿">民宿</option>
                        <option value = "藝術">藝術</option>
                        <option value = "娛樂">娛樂</option>
                        <option value = "運動">運動</option>
                    </select>
                </div>
                <div>
                    <label for = "new-address">地址</label>
                    <input placeholder = "地址" id = "new-address" name = "new-address">
                </div>
                <div>
                    <!--<div class = "question-mark-wrapper">
                        <label for = "google-map-src">場地位址連結</label>
                        <div class = "question-mark">?</div>
                        <input placeholder = "可提供Google map定位的連結" id = "google-map-src" name = "google-map-src">
                    </div>-->
                </div>
                <div>
                    <label for = "new-intro">場地描述</label>
                    <br>
                    <textarea placeholder = "場地描述" id = "new-intro" name = "new-intro"></textarea>
                </div>
                <div>
                    <label for = "new-supply">提供設備</label>
                    <br>
                    <textarea placeholder = "提供設備" id = "new-supply" name = "new-supply"></textarea>
                </div>
                <div>
                    <label for = "new-note">注意事項</label>
                    <br>
                    <textarea placeholder = "是否有特別注意事項" id = "new-note" name = "new-note"></textarea>
                </div>
                <div id="merchant-signup-button"></div>
                <button type = "button" class = "next-page">下一頁</button>
            </form>
    </div>
    <div class = "add-new-merchant-form2">
        <form id = "form">
                <h1>新增商家頁面</h1>
                <div class = "service-time-container">
                    <div class = "service-time-setting">
                        <strong class = "service-time-title">服務時段設定</strong>
                        <br>
                            <label for = "new-service-time-start">開始時間</label>
                            <select id = "new-service-time-start" name = "service_time_start"></select>
                        <br>
                            <label for = "new-service-time-end">結束時間</label>
                            <select id = "new-service-time-end" name = "service_time_end"></select>
                        <br>
                            <label for = "price">每時段價格</label>
                            <input placeholder = "每時段價格" id = "price" name = "price">
                        <br>
                            <label for = "service-time-name">時段名稱(選填)</label>
                            <input placeholder = "時段名稱(選填)" id = "service-time-name" name = "service-time-name">
                    </div>
                </div>
                <button class = "add" type = "button">新增</button>
                <hr>
                <img id="blah" src="http://placehold.it/180" alt="your image" />
                <br>
                <label for = "image">上傳圖片(首圖將放置在首頁)</label>
                <input type = "file" accept = "image/*" id = "image" name = "image" onchange="readURL(this);" multiple>
            <br>
            <div class = "on-broad">
                <input type="checkbox" id="online-status" name="on-broad" class ="on-broad-checkbox">
                <label for="online-status">資料填妥，確認上線 (非必填，可隨時在商家會員中心修改)</label> 
            </div>
            <div class = "agreement">
                <input type="checkbox" id="agreement-status" name="agreement" class ="agreement-checkbox">
                <label for="agreement-status">我已閱讀並同意<div class = "service-agreement">服務條款</div></label> 
            </div>
            <div class = "agreement-content">
                <div class = "service-agreement-title">
                    <h3>服務條款</h3>
                    <img class = "cancelled" src = "/static/x_icon.png">
                </div>
                <p>
                    <strong>1. 引言</strong>
                    <br> 
                    歡迎使用 Unnamed rental（以下簡稱「本網站」）提供的場地租用服務。本服務條款（以下簡稱「條款」）適用於所有使用我們服務的用戶。請仔細閱讀以下條款，您在使用本網站即表示接受這些條款。

                    <br> 
                    <strong>2. 定義</strong>
                    <br> 
                    場地空間: 指在本網站上列出的各種可供租用的場地，包括但不限於民宿、會議室、宴會廳、演藝空間等。 租客: 指通過本網站租用場地空間的用戶。 租賃方: 指場地空間的擁有者或管理者，通過本網站提供租賃服務。 
                    <br> 
                    <strong>3. 租賃協議</strong>
                    <br>
                    租賃內容: 租賃方同意根據租客的預訂條款提供場地空間。租客需按租賃方的要求進行支付和履行其他約定條款。 租賃期限: 租賃方和租客在訂單確認時確定租賃期限，包括開始和結束日期。 租賃金額: 租賃金額由租賃方和租客在訂單確認時協商確定。 
                    <br>
                    <strong>每月10日結算與轉帳</strong>: 每月10日，平台將根據上月的租借收入進行結算並發起轉帳。平台將收取總收入的5%作為服務費，其餘95%將直接轉帳至租賃方指定的銀行帳戶。 
                    <br>
                    <strong>注意事項</strong>: 若10日遇假日或其他原因導致轉帳延遲，將順延至下一個工作日完成轉帳。敬請知悉。 
                    <br> 
                    <strong>4. 訂單和支付</strong>
                    <br> 
                    訂單流程: 租客需在本網站上選擇場地、確認租賃期限和其他需求後提交訂單。 支付方式: 租客可通過本網站支持的支付方式完成付款，包括信用卡、銀行轉賬等。 取消政策: 租客如需取消訂單，應根據租賃方的取消政策進行處理。取消條款詳見[取消政策]。 
                    <br> 
                    <strong>5. 使用規定</strong>
                    <br> 
                    用途限制: 租客僅可按照約定用途使用場地，不得進行其他未經許可的活動。 維護和清潔: 租客應保持場地的清潔和良好狀態，並按租賃方要求進行必要的維護。 禁止事項: 包括但不限於禁止吸煙、攜帶寵物、進行非法活動等。 善良風俗: 租客應尊重公共秩序和善良風俗，不得在場地內進行任何違反道德或社會規範的活動。 
                    <br> 
                    <strong>6. 責任和保險</strong>
                    <br> 
                    責任: 租客應對其在租賃期間內的所有活動負責，包括但不限於場地損壞、事故等。 保險要求: 租客需自行投保合適的保險以涵蓋可能的損失或損壞。 
                    <br> 
                    <strong>7. 租賃方的責任</strong>
                    <br> 
                    場地狀況: 租賃方需保證場地的安全和適用性，並在租賃前提供場地的實際情況。 設施維護: 租賃方應負責場地的正常維護和必要的修理。 
                    <br> 
                    <strong>8. 違約和終止</strong>
                    <br> 
                    違約條款: 若租客或租賃方違反條款，對方有權終止協議並要求賠償。 終止條件: 租賃方或租客可在提前[通知時間]天書面通知對方終止租賃協議。 
                    <br> 
                    <strong>9. 隱私和數據保護</strong>
                    <br> 
                    數據收集: 我們將根據[隱私政策]收集和處理您的個人數據。 數據保護: 我們採取適當的措施來保護您的個人數據不被未經授權的訪問和使用。 
                    <br> 
                    <strong>10. 知識產權</strong>
                    <br> 
                    網站內容: 本網站的所有內容，包括但不限於文本、圖像、商標等，均屬於本網站或其授權方的財產，未經授權不得使用。 
                    <br> 
                    <strong>11. 爭議解決</strong>
                    <br> 
                    爭議處理: 任何因本條款或使用本網站引起的爭議應通過友好協商解決，若協商不成，可提交[指定仲裁機構]進行仲裁。 適用法律: 本條款受[適用法律]管轄。 
                    <br> 
                    <strong>12. 條款修訂</strong>
                    <br> 
                    修訂: 我們保留隨時修訂本條款的權利，修訂後的條款將在網站上發布並生效。 
                    <br> 
                    <strong>13. 聯絡方式</strong>
                    <br> 
                    聯絡信息: 如有任何問題或建議，請聯絡我們的客服部門：kawamotoiscute@gmail.com。
                </p>
                    <div class = "agreement2">
                        <input type="checkbox" id="agreement-status2" name="agreement2" class ="agreement-checkbox2">
                        <label for="agreement-status2">我同意<div class = "service-agreement2">服務條款</div></label> 
                    </div>
            </div>
                <button type = "button" class = "submit-new-merchant">送出</button>
                <button type = "button" class = "last-page">上一頁</button>
                <div class = "submit-new-merchant-message"></div>
                <h3>你可以隨時在會員中心的商家資料中修改</h3>
        </form>
    </div>
    <div class = "common-question-form">
        <h1>常見問題</h1>
        <div class = "google-map-src-tutorial">
            <strong class = "google-map-src-tutorial-title">如何取得Google map定位的連結</strong>
            <br>
            <div>1. 進入Google Map</div>
            <div>2. 輸入商家地址</div>
            <img src = "/static/tutorial_1.png">
            <div>3. 點選分享 > 嵌入地圖</div>
            <img src = "/static/tutorial_2.png">
            <div>4. 點選「複製HTML」</div>
            <img src = "/static/tutorial_3.png">
        </div>
        <div class = "door-password-setting-tutorial">
            <strong class = "google-map-src-tutorial-title">如何取得Google map定位的連結</strong>
            <br>
            <div>1. 進入Google Map</div>
            <div>2. 輸入商家地址</div>
            <img src = "/static/tutorial_1.png">
            <div>3. 點選分享 > 嵌入地圖</div>
            <img src = "/static/tutorial_2.png">
            <div>4. 點選「複製HTML」</div>
            <img src = "/static/tutorial_3.png">
        </div>
    </div>
    </div>
    <div class = "footer"></div>
  <script src = "/static/merchant_member_page.js" defer></script>
  <script src = "/static/menu_button.js" defer></script>
  <script src = "/static/signup.js" defer></script>
  <script src = "static/merchant-setting.js" defer></script>
</body>
</html>